  .subscribe-form {
      position: relative;
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      // border: 1px solid $black_60;
      box-shadow: inset 0px 0px 0px 1px $black_60;
      border-radius: 15px;

      input {
          width: 100%;
          background-color: transparent;
          padding-left: 18px;
          color: $black_60;
      }
  }