@import './variables';
@import './normalize';
@import './fonts';

@import 'components/header';
@import 'components/footer';
@import 'components/layout';
@import 'components/slider';


body {
    font-family: $font;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.3;
}

p {
    line-height: 1.5;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}
.slider-wrapper{
    margin: 0 auto;
    max-width: 1366px;
    padding: 0 10px;
}
