@import './variables';
@import './normalize';
@import './fonts';

@import 'blocks/header';
@import 'blocks/footer';
@import 'blocks/catalogue-prewiev';
@import 'blocks/subscribe';

@import 'components/layout';
@import 'components/slider';
@import 'components/button';
@import 'components/product-card';
@import 'components/review-card';
@import 'components/list-drawer';


body {
    font-family: $font;
    font-size: 16px;
}

*:focus-visible {
    outline: none;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.3;
}

p {
    line-height: 1.5;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.slider-wrapper-full {
    margin: 0 auto;
    max-width: 1366px;
    padding: 0 10px;
}

.slider-wrapper-products {
    width: 1200px;

    // slider images bugging
    padding-right: 5px;
}

.customer-reviews {
    margin-bottom: 160px;
    padding-right: 0;
}