.subscribe {

    border-top: 1px solid #959595;
    padding: 90px 0;

    &-inner {

        display: flex;
        flex-direction: column;
        gap: 30px;
        max-width: 570px;
        margin: auto;
        text-align: center;
    }


    &-title {
        font-size: $title_2;
        color: $black_80;
        font-weight: 500;
    }

    &-text {
        color: $black_60;
    }


}